* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 1.5rem;
    background: #0b0d1b;
    
}
.enlarge {
    font-size: 3rem;
}
.line-img {
    position: absolute;
    left: 50%;
    width: 5vh;
    height: 5vh;
    margin-left: -2.5vh;
    border-radius: 50%;
    top: 5vh;
}
.line-img-end {
    position: absolute;
    left: 50%;
    width: 5vh;
    height: 5vh;
    margin-left: -2.5vh;
    border-radius: 50%;
    margin-top: -10vh;
}
.vl {
    background-image: linear-gradient(to bottom,  rgb(176, 64, 255), rgb(255, 65, 65));
    width: 2px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    margin-top: -20vh;
    height: 20vh;
}
div.vl:nth-child(2) {
    margin-top: 0;
    top: 10vh;
    height: 10vh;
}
div.vl:nth-child(10) {
    height: 10vh;
}
.intro {
    margin-top: 20vh;
    border-radius: 10px;
    align-items: center;
    display: flex;
    background-image: url('./into-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around;
    font-size: 1.2rem;
    color: black;
    margin-bottom: 20vh;
}
.about {
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(18, 0, 31), rgb(37, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    padding: 5px;
    border-radius: 10px;
    position: relative;
    background: url('./into-bg.webp');
    margin-bottom: 20vh;
}
.hobbies, .education, .upto-speed, .projects {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 10vh;
}
.projects-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects-title, .upto-speed-title, .hobbies-title, .education-title {
    font-size: 6vw;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.hobbies-content, .education-content, .upto-speed-content, .projects-content {
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    background-image: url('./into-bg.webp');
    background-size: cover;
    width: calc(65vw - 44px);
    right: 20px;
    box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
    transition: all 300ms cubic-bezier(.18,.89,.32,1.28);
    cursor: text;
}
.hobbies-content > hr, .education-content > hr, .upto-speed-content > hr, .projects-content > hr {
    height: 2px !important;
    margin-top: 0;
    color: #1d1d1d;
}
.hobbies:hover .hobbies-content {
    transform: scaleY(1);
}
.upto-speed:hover .upto-speed-content {
    transform: scaleY(1);
}
.education:hover .education-content {
    transform: scaleY(1);
}
.projects:hover .projects-content {
    transform: scaleY(1);
}
.projImg {
    border-radius: 5px;
    transition: all 500ms cubic-bezier(.18,.89,.32,1.1);
}
.projImg:hover {
    box-shadow: 0 0 5px 1px black;
    border-radius: 0;
    transform: translate(0, -150px) scale(7);
    cursor: default;
}
.title {
    margin-bottom: 10px;
}
.cSTL-dropper, .skinMart-dropper, .organizer-dropper {
    width: 25px;
    transition: all 500ms cubic-bezier(.18,.89,.32,1.28);
}
.cSTL, .skinMart, .organizer {
    display: inline-block;
    padding: 5px;
    color: black;
    border-radius: 10px;
    transition: all 500ms;
}
.cSTL:hover, .skinMart:hover, .organizer:hover {
    cursor: pointer;
    color: black;
}
#cSTL-content, #skinMart-content, #organizer-content {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    padding: 15px 50px;
    margin-left: 20%;
    right: 0;
    top: 0;
    transition: all 300ms cubic-bezier(.18,.89,.32,1.28);
}
.img-container {
    position: absolute;
    display: inline-block;
}
.gradient-text {
    background-image: url('./into-bg.webp');
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name {
    transition: color 500ms;
}
.mordernForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}
.mordernForm > * {
    width: 50%;
}
.submit {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10vh;
    border-radius: 20px;
    width: 50px;
    transition: box-shadow 300ms;
    background-image: linear-gradient(to right, rgba(153, 0, 255, 0.377), rgba(255, 0, 0, 0.377));
}
.submit:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 1px black;
}
.get-in-touch {
    background-image: linear-gradient(to right, rgb(18, 0, 31), rgb(37, 0, 0));
    padding: 50px;
    border-radius: 10px;
}
.get-in-touch-message {
    margin-left: 20%;
    display: inline;
    font-size: 7rem;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
.links-container {
    padding: 10px;
}
.link-img {
    width: 30px;
    margin-right: 10px;
}
label {
    color: white;
    margin-top: 5vh;
}
input {
    padding: 10px;
    font-weight: 900;
    font-size: 1.2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(199, 199, 199);
    border-radius: 10px;
}
a {
    font-style: italic;
    color: black;
    transition: all 500ms;
}
a:hover {
    color: black;
    box-shadow: 3px 5px 10px black;
}
.credits {
    padding: 5vh;
    background-image: url('./into-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.get-in-touch-img {
    width: 15vw;
}
.afterLoad {
    display: none;
    opacity: 0;
    margin-left: 15%;
    margin-right: 15%;
    animation: fadeInAnimation 2000ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@media (max-width: 1000px) {
    body {
        font-size: 2rem;
    }
    .intro {
        font-size: 1.6rem;
        height: min(1100px, max(900px, 60vh));
        flex-direction: column;
    }
    .enlarge {
        font-size: 4rem;
    }
    .myImg {
        height: max(700px, 60vh);
    }
    .get-in-touch-message {
        font-size: 10vw;
    }
    .projects-title, .upto-speed-title, .hobbies-title, .education-title {
        font-size: 7vw;
    }
    .hobbies-content, .education-content, .upto-speed-content, .projects-content {
        width: 61vw;
    }
    #cSTL-content, #skinMart-content, #organizer-content {
        margin-left: 25%;
    }
    .afterLoad {
        margin-left: 0;
        margin-right: 0;
    }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.beforeLoad {
    animation: fadeOutAnimation 1000ms;
    animation-delay: 4s;
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    } 100% {
        opacity: 0;
    }
}

.dots {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	filter: url(#goo);
}

.dot {
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.dot:before {
	content: '';
	width: 35px;
	height: 35px;
	border-radius: 50px;
	background: #FBD301;
	position: absolute;
	left: 50%;
	transform: translateY(0) rotate(0deg);
	margin-left: -17.5px;
	margin-top: -17.5px;
}

@keyframes dot-move {
	0% {
		transform: translateY(0);
	}

	18%, 22% {
		transform: translateY(-70px);
	}

	40%, 100% {
		transform: translateY(0);
	}
}

@keyframes dot-colors {
	0% {
		background-color: #FBD301;
	}

	25% {
		background-color: #FF3270;
	}

	50% {
		background-color: #208BF1;
	}

	75% {
		background-color: #AFE102;
	}

	100% {
		background-color: #FBD301;
	}
}

.dot:nth-child(5):before {
	z-index: 100;
	width: 45.5px;
	height: 45.5px;
	margin-left: -22.75px;
	margin-top: -22.75px;
	animation: dot-colors 4s ease infinite;
}

@keyframes dot-rotate-1 {
	0% {
		transform: rotate(-105deg);
	}

	100% {
		transform: rotate(270deg);
	}
}

.dot:nth-child(1) {
	animation: dot-rotate-1 4s 0s linear infinite;
}

.dot:nth-child(1):before {
	background-color: #FF3270;
	animation: dot-move 4s 0s ease infinite;
}

@keyframes dot-rotate-2 {
	0% {
		transform: rotate(165deg);
	}

	100% {
		transform: rotate(540deg);
	}
}

.dot:nth-child(2) {
	animation: dot-rotate-2 4s 1s linear infinite;
}

.dot:nth-child(2):before {
	background-color: #208BF1;
	animation: dot-move 4s 1s ease infinite;
}

@keyframes dot-rotate-3 {
	0% {
		transform: rotate(435deg);
	}

	100% {
		transform: rotate(810deg);
	}
}

.dot:nth-child(3) {
	animation: dot-rotate-3 4s 2s linear infinite;
}

.dot:nth-child(3):before {
	background-color: #AFE102;
	animation: dot-move 4s 2s ease infinite;
}

@keyframes dot-rotate-4 {
	0% {
		transform: rotate(705deg);
	}

	100% {
		transform: rotate(1080deg);
	}
}

.dot:nth-child(4) {
	animation: dot-rotate-4 4s 3s linear infinite;
}

.dot:nth-child(4):before {
	background-color: #FBD301;
	animation: dot-move 4s 3s ease infinite;
}