html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Fjalla One', sans-serif;
    color: black;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
}
.enlarge {
    font-size: 3rem;
}
.intro {
    margin-top: 20vh;
    border-radius: 10px;
    width: 100%;
    height: min(500px, max(300px, 60vh));
    align-items: center;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, magenta, blue);
    justify-content: space-around;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20vh;
}
.about {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper {
    padding: 5px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(to right, magenta, blue);
    margin-bottom: 20vh;
}
.myImg {
    height: min(500px, max(300px, 60vh));
    transition: transform 500ms cubic-bezier(.18,.89,.32,1.28);
}
.myImg:hover {
    transform: scale(1.2);
    opacity: 1;
}
.hobbies, .education, .upto-speed, .projects {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 10vh;
}
.projects-title, .upto-speed-title, .hobbies-title, .education-title {
    font-size: 6vw;
}
.hobbies-content, .education-content, .upto-speed-content, .projects-content {
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    background-image: linear-gradient(to right, rgba(255, 0, 255, 0.5), rgba(0, 0, 255,  0.5));
    width: calc(65vw - 44px);
    right: 20px;
    box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
    transition: all 300ms cubic-bezier(.18,.89,.32,1.28);
    cursor: text;
}
.hobbies:hover .hobbies-content {
    transform: scaleY(1);
}
.upto-speed:hover .upto-speed-content {
    transform: scaleY(1);
}
.education:hover .education-content {
    transform: scaleY(1);
}
.projects:hover .projects-content {
    transform: scaleY(1);
}
.projImg {
    border-radius: 5px;
    transition: all 500ms cubic-bezier(.18,.89,.32,1.28);
}
.projImg:hover {
    box-shadow: 0 0 5px 1px black;
    border-radius: 0;
    transform: translate(0, -160px) scale(7);
    cursor: default;
}
.title {
    margin-bottom: 10px;
}
.cSTL-dropper, .skinMart-dropper, .organizer-dropper {
    width: 25px;
    transition: all 500ms cubic-bezier(.18,.89,.32,1.28);
}
.cSTL, .skinMart, .organizer {
    display: inline-block;
    padding: 5px;
    color: white;
    border-radius: 10px;
    transition: all 500ms;
}
.cSTL:hover, .skinMart:hover, .organizer:hover {
    cursor: pointer;
    color: black;
}
#cSTL-content, #skinMart-content, #organizer-content {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    padding: 15px 50px;
    margin-left: 20%;
    right: 0;
    top: 0;
    transition: all 300ms cubic-bezier(.18,.89,.32,1.28);
}
.img-container {
    position: absolute;
    display: inline-block;
}
.gradient-text {
    background-image: linear-gradient(to right, magenta, blue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.name {
    transition: color 500ms;
}
.name:hover {
    color: black;
}
.mordernForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}
.mordernForm > * {
    width: 50%;
}
.submit {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10vh;
    border-radius: 10px;
    width: 50px;
    transition: all 1000ms;
    background-image: linear-gradient(to right, rgba(255, 0, 255, 0.5), rgba(0, 0, 255, 0.5));
}
.submit:hover {
    cursor: pointer;
    box-shadow: 0 0 30px 1px black;
    transform: rotate(360deg);
}
.get-in-touch {
    background: white;
    padding: 50px;
    border-radius: 10px;
}
.get-in-touch > img {
    width: 200px;
}
.get-in-touch-message {
    display: inline;
    font-size: 10rem;
    transition: all 700ms;
}
.get-in-touch-message:hover {
    background-image: linear-gradient(to right, magenta, blue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
.links-container {
    padding: 10px;
}
.link-img {
    width: 30px;
}
label {
    margin-top: 5vh;
}
input {
    padding: 10px;
    font-weight: 900;
    font-size: 1.2rem;
    border-color: #333;
    border-radius: 10px;
}
a {
    font-style: italic;
    color: rgb(255, 255, 255);
}
.credits {
    padding: 5vh;
    background-image: linear-gradient(to right, rgba(255, 0, 255, 0.5), rgba(0, 0, 255, 0.5));
    border-radius: 10px;
}