.header {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

.header-icon {
    width: 2em;
}

.navs {
    display: flex;
    gap: 5vw;
}